/* Importa a fonte Archivo do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

/* Configurações gerais para o corpo da página */
body {
  max-width: 500px;
  margin: auto;
  background: radial-gradient(circle, rgb(60, 206, 255) 0%, rgb(66, 66, 66) 100%);
  font-family: Archivo, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilo do cabeçalho */
header {
  padding: 2px;
  text-align: center;
  font-size: 28px;
  color: white;
  background-color: #8bbdff;
  width: auto;
  border: #000000, 2px;
}

/* Estilo dos ícones sociais */
#insta {
  width: 35px;
  height: 35px;
}

#face {
  width: 50px;
  height: 30px;
}

#email {
  width: 40px;
  height: 40px;
}

#joao,
#eduardo,
#patrick {
  width: 90px;
  height: 110px;
}

/* Estilo da barra de navegação no cabeçalho */
header nav ul li a {
  text-decoration: none;
  list-style: none;
  background-color: rgb(108, 255, 169);
  color: black;
  padding: 3px;
  border: 1px solid #000000;
  border-radius: 3px;
  display: block;
}

/* Estilo da lista de navegação no cabeçalho */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* Estilo das seções principais da página */
#interface,
#contato {
  background-color: #8bbdff;
  padding: 20px;
  margin: 5% auto;
  text-align: auto;
  border: 2px solid #000000;
  border-radius: 20px;
  min-height: 250px;
}

/* Estilo do container */
#container {
  background-color: #8bbdff;
  padding: 20px;
  margin: 1px;
  text-align: auto;
  border: 2px solid #000000;
  border-radius: 20px;
  min-height: 250px;
}

/* Estilo da seção de objetivo */
#objetivo {
  background-color: #87b0e5;
  padding: 20px;
  margin: 5px;
  text-align: auto;
  border: 2px solid #000000;
  border-radius: 20px;
  min-height: 250px;
}

/* Estilo comum para campos de entrada e rótulos */
input,
label {
  width: 150px;
  height: 40px;
  font-size: 22px;
  padding: 4px;
  margin: 4px;
}

/* Estilo da lista suspensa */
select {
  width: auto;
  height: 40px;
  padding: 4px;
  font-size: 22px;
  margin: 2px;
}

/* Estilo do botão */
div button {
  padding: 7px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  background-color: rgb(108, 255, 169);
  font-size: 24px;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

/* Efeito de hover no botão */
button:hover {
  color: rgb(2, 2, 2);
  border: 2px solid black;
  transition: 350ms;
  background-color: rgb(0, 147, 192);
}

/* Efeito de clique no botão */
button:active {
  background-color: rgb(220, 255, 24);
}

/* Estilo do título principal */
#titulo {
  margin: 0px 0px 30px 0px;
}

/* Estilo da mensagem de atualização */
#atualizacao {
  margin-top: 5px;
  color: gray;
}

/* Estilo da caixa de alerta */
.alerta {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: none;
}

/* Estilo para mensagem de falha na caixa de alerta */
#falha {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

/* Estilo para mensagem de sucesso na caixa de alerta */
#sucesso {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

/* Estilo do rodapé */
footer {
  background-color: rgb(255, 255, 255);
  border: 2px #000000;
  border-radius: 20px;
  min-width: 100%;
  min-height: 130px;
}

/* Estilo da lista no rodapé */
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo dos itens da lista no rodapé */
footer ul li {
  margin: 5px;
  display: inline-block;
}

/* Estilo dos links nos itens da lista no rodapé */
footer ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 3px;
  display: block;
  border: #000000;
  margin: 2px;
}
